#carouselExampleAutoplaying .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 500px;
}

.padding{
    padding: 1%;
}

.yellowLink:hover{
    color: #eed43d;
}

.cardYellow {
	background-color: #eed33dd8;
}
  
.cardYellow:hover img {
	opacity: 0.3;
	filter: grayscale(100%);
}
  
.cardYellow * {
	transition: all .35s ease-in-out;
	background-color: white;
}
  
.card {
	transition: 0.20s;
}
.card:hover {
	transform: scale(1.02);
}

.animation {
	transition: all .35s ease-in-out;
	background-color: white;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.cleanLinks {
	text-decoration: none;
}

.pageBanners {
    width: 100%;
    height: 300px;
    background-attachment: local;
    background-image: url('images/team6865.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    background-position: center top;

    /* Flexbox properties to center content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerHeader {
    width: 450px;
    height: 75px;
	font-size: 46px;
    background-color: #eed33dd8;
	border-radius: 10px;
    color: #000000;
	display: flex;
    justify-content: center;
    align-items: center;
}

/* HoneyCombs Sponsors */
/* The same layout with CSS Grid ► https://codepen.io/Rafiozoo/pen/NyMZRy */
IMG {
	width: 100%;
	display: block;
}
.item IMG {
	visibility: hidden;
}
.honeyCombSponsors {
	margin: 3rem auto;
	padding: 1rem 0 2.4rem;
/* 	background-color: gold; */
	text-align: center;
}
.honeyCombSponsors::after {
	content: "";
	display: table;
	clear: both;
}
.item {
	width: 10rem;
	height: 10rem;
	position: relative;
	display: inline-block;
	margin: 0.5rem;
}
.item::before { /* Goldenrod outline on the hexagon */
	content: "";
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: goldenrod;
	clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
	transform: scale(1.077);
	transition: transform 0.3s;
}
.item:hover::before {
	transform: scale(1.154);
}
.item A {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
/* 	background-image: See JS. */
	background-size: cover;
	background-position: center;
	clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}



@media (max-width: 960px) {
	.bannerHeader {
		width: 375px;
    	height: 60px;
		font-size: 35px;
    	background-color: #eed33dd8;
		border-radius: 10px;
   	 	color: #000000;
		display: flex;
    	justify-content: center;
    	align-items: center;
	}
}

@media (max-width: 530px) {
	.navbar-brand {
		display: none;
	}
	.logo-image {
		display: flex;
		justify-content: center;
	}
	.logo-image.img {
		width: 60%;
	}
}

@media (min-width: 272px) {
	.item {
		display: block;
		float: left;
		margin: 0; /* reset */
		margin-bottom: -22.4px;	/* shifting up the items in the next row */
	}
}

@media (min-width: 272px) and (max-width: 352px) {
	.honeyCombSponsors {
		max-width: 80px;
	}
	.item:nth-child(even) {
		margin-left: 80px;
	}
}

@media (min-width: 352px) and (max-width: 512px) {
	.honeyCombSponsors {
		max-width: 320px;
	}
	.item:nth-child(3n+3) {
		margin-left: 80px;
	}
}

@media (min-width: 512px) and (max-width: 672px) {
	.honeyCombSponsors {
		max-width: 480px;
	}
	.item:nth-child(5n+4) {
		margin-left: 8px;
	}
}

@media (min-width: 672px) and (max-width: 864px) {
	.honeyCombSponsors {
		max-width: 640px;
	}
	.item:nth-child(7n+5) {
		margin-left: 80px;
	}
}

@media (min-width: 864px) {
	.honeyCombSponsors {
		max-width: 800px;
	}
	.item:nth-child(9n+6) {
		margin-left: 80px;
	}
}
/* IE resets - because of clip-path no support */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS */
	.honeyCombSponsors {
		padding: 20px 0;
	}
	.item {
		display: inline-block;
		float: none;
		margin: 14px !important;
	}
}
@supports (-ms-ime-align: auto) {
	/* IE Edge 12+ */
	.honeyCombSponsors {
		padding: 20px 0;
	}
	.item {
		display: inline-block;
		float: none;
		margin: 14px !important;
	}
}
